# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.aider*

.vscode

*.pyc
__pycache__

backend/.sandbox
backend/src/envs
backend/src/logs

# idea
.idea



# prototype designs
frontend/.prototype