fastapi==0.115.11
numpy==1.26.4
pandas==1.5.3
uvicorn==0.33.0
requests==2.32.5
python-dotenv==1.0.1
PyJWT==2.10.1
httpx==0.28.1
boto3==1.42.34
redis==6.2.0
supabase==2.17.0
# celery==5.5.3
# flower==2.0.1
# gunicorn==23.0.0
# weasyprint==66.0
# markdown==3.8.2
# aiohttp==3.13.1
# langchain==1.0.5
# langchain-text-splitters==1.0.0
# langchain-classic==1.0.0
# langchain-community==0.3.31
# langchain-google-genai==2.1.12
# langchain-qdrant==1.1.0 
# langchain-huggingface==1.0.1
# langchain-ollama==1.0.0
# bs4==0.0.2
# tiktoken==0.12.0
# sentence-transformers==3.0.0
# openai==1.93.2